
/* TODO: Set 3D rotation angles as VARIABLES and use math to determine rotation-correction angles
on planet/moon billboard divs to make it easier to adjust orbital plane*/


.background-planet__system {  
  width: 300px;
  height: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform-style: preserve-3d;
  transform: rotateZ(-25deg) rotateX(80deg) ;
  
}

/* Define style for ALL orbit planes */
.background-planet__moon-orbit {
  height: 100%;
  width: 100%;
  position: absolute; 
  transform-style: preserve-3d;
  transform: rotateZ(0deg);  
  background-color: rgba(0, 0, 0, 0);
  border: 0.3em solid rgba(224, 224, 224, 0.5);
  border-radius: 50%;
 

  /* Anim details all orbits */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.background-planet__moon-orbit-1{  
  height: 70%;
  width: 70%;
  margin-left: 15%;
  margin-top: 15%;  
  
  animation-name: keys-moon-orbit-1;
  animation-duration: 15.32s;  
  
}

.background-planet__moon-orbit-2{  
  animation-name: keys-moon-orbit-2;
  animation-duration: 60.62s;  
  

}

/* Styles for all moons */
.background-planet__moon{
  position: relative;
  left: 50%;
  top: 90%;
  height: 10%;
  width: 10%;  
  
  transform: rotateZ(-90deg) rotateX(-80deg);
  animation-name: keys-moon-spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background-planet__moon > img {
  height: 100%;
  width: 100%;
}

/* NOTE moon sizes scale based on orbital radius (h/w of parent orbit div). Compensate for this */
/* Inner moon (Phobos) */
.background-planet__moon-1{  
  position: relative;
  top: 94%;
  height: 15%;
  width: 15%;
  animation-duration: 15.32s; 
}

/* Outer moon (Deimos) */
.background-planet__moon-2{
  position: relative;
  top: 97%;
  height: 7%;
  width: 7%;    
  animation-duration: 60.62s; 
}

.background-planet__globe-container{ 
  position: relative;
  display: block;   
  height: 150px;
  width: 150px;   
  margin-left: auto;
  margin-right: auto;
  top: 25%; 
  border-radius: 50%;
  transform-style: preserve-3d;  
  transform: rotateX(-80deg) ;    
  transform-origin: 100% center;
  background-image: url("../img/mars_terrain.png");
  background-size: auto 100%;
  animation-name: keys-planet-rotate;
  animation-duration: 48s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}



.background-planet__globe > img {  
  position: absolute;
  height: 100%;
  width: 100%;    
}

/* TODO: fix position of atmos */

.background-planet__atmos {
  position: absolute;
  transform: translateZ(-20px);
  z-index: -20;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background: rgb(5,4,20);
background: linear-gradient(63deg, rgba(5,4,20,0) 0%, rgba(196,119,74,0.41780462184873945) 41%, rgba(199,208,209,0.7091211484593838) 77%);
  filter: blur(10px);
  
}


@keyframes keys-moon-orbit-1 {
  from {transform: rotateZ(360deg);}  
  to {transform: rotateZ(0deg);}
}

@keyframes keys-moon-orbit-2 {
  from {transform: rotateZ(360deg);}
  to {transform: rotateZ(0deg);}
}

/* Animate moon div rotation to always face the camera
and brightness changes to simulate moving into planet's shadow */
/* Manually easing keyframes for brightness, because rotation MUST be use a linear timing function*/
@keyframes keys-moon-spin{
  0% {transform: rotateZ(0deg) rotateX(-80deg); filter: brightness(1);}
  60% {filter: brightness(0.3);}
  70% {filter: brightness(0.2);}
  80% {filter: brightness(0.3);}
  100% {transform: rotateZ(360deg) rotateX(-80deg); filter: brightness(1);}
}



@keyframes keys-planet-rotate {
  from {background-position-x: 100%;}  
  to {background-position-x: 0%;}
}