* {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
  background-color: rgb(9, 22, 32); 
  color: rgb(238, 247, 255); 
}

#preload { 
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;    
}

.preload__icon {
  position: relative;
  display: block;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;  
}



#app {
  /* Initial opacity 0 for fade in once rover manifest data fetched successfully */
  opacity: 0;  
  display: grid;
  grid-template-areas:
  "nv nv nv nv nv nv nv nv nv nv nv nv"
  "hd hd hd hd hd hd hd hd hd hd hd hd"
  "bd bd bd bd bd bd bd bd bd bd bd bd"
  "ft ft ft ft ft ft ft ft ft ft ft ft";
  /* background: rgb(5,4,20);
  background: linear-gradient(0deg, rgba(5,4,20,1) 0%, rgba(16,9,34,1) 89%, rgba(59,39,112,1) 100%); */
  background-color: rgb(5,4,20,1);
}

.nav {
  grid-area: nv;
  height: 50px;
  width: 100%;
  background-color: rgb(44, 51, 155);

}

.header {
  padding: 1em;
  grid-area: hd;  
  text-align: center;
  background-color: rgb(59,39,112)
  
}

.footer {
  grid-area: ft;
  background-color: pink;
}

h1 {  
  font-size: 4rem;
  line-height: 1em;
  color: rgb(255, 249, 237);
  font-family: 'Quantico', sans-serif;
}

.main {
  grid-area: bd;
  position: relative;
}

.date-form-container {
  height: auto; 
  margin: 0;
  padding: 1.5em;  
  background-color: rgba(0,0,0,0);
  text-align: center;
}

#date-form {
  display: flex;
  justify-content: center;
  align-items: center;
}




#date-form > input, #date-form > button {
  margin: 0em 1em 0em 1em;  
  border-radius: 0.5em;
  padding: 0.2em;
  border: 3px solid rgb(193, 220, 255);  
  box-sizing: border-box;
  background-color: white;
  font-size: 1rem;
}

#date-form > button {
  width: 3em;
  height: 3em;
}

#date-form > input {
  
  height: 3em;
}

/* Container for background planet
Further styling for planet animation in planetSystem.css */
.background-planet {
  z-index: -100;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  padding-top: 10vh;  
  width: 100vw;
  background-color: rgba(0 0 0 0);
  overflow: visible;  
  transform: translate(0, -50%);
}


.results {
  z-index: 10;
  background-color: rgba(248, 198, 132,0.5);
  width: 80%;
  min-height: 80vh;
  margin-left: auto;
  margin-right: auto;  
  opacity: 0;
  padding: 1em;
}

.results > h2 {
  font-size: 4em;
}

.results-list__thumbnail{
  height: 100px;
  width: 100px;
}

.results-list__camera{
  border: 0.3em solid white;
  margin: 1em;
  list-style: none;
  padding: 1em;  
}

.results-list__camera > h2 {
  
}

.results-list__list-entry {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 0.6em;
}

.results-list__list-entry > button {
  height: 3em;
  width: 3em;
}

.modal-image {
  height: 90%;
  width: 90%;
  border: 0.5em solid blue;
}

.text-white {
  color: white;
}





